{% extends 'base.html' %}

{% block content %}
<!-- Versuch das Einloggen zu verhindern wenn man bereits eingelogged ist -->
{% if g.user %}

  <div class="container marketing">

        <div class="signpost"><h1>Login with you username</h1></div>
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
       <p>You are already logged in!</p>

        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% else %}

  <div class="container marketing">

        <div class="signpost"><h1>Login with you username</h1></div>
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
       <p>For full functionality register and log in with a valid PANr.<br></p>
      <li>PANr: 1001, PWD: Go4one!, Typ: Passagier</li>
      <li>PANr: 1002, PWD: Go4one!, Typ: Passagier</li>
      <li>PANr: 1003, PWD: Go4one!, Typ: Passagier</li>
      <li>PANr: 1100, PWD: Go4two!, Typ: Kapitän</li>
      <li>PANr: 1101, PWD: Go4two!, Typ: Kapitän</li>
      <li>PANr: 1200, PWD: Go4one!, Typ: Techniker</li>
      <li>PANr: 1201, PWD: Go4one!, Typ: Techniker</li>
      <br>
        <form method="post">
          <label for="username">Username</label>
          <input name="username" id="username" required>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required>
         <input type="submit" value="Log In">
        </form>
        <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endif %}

{% endblock %}