{% extends 'base.html' %}


{% block content %}

<!-- Marketing messaging and featurettes
 ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- START THE FEATURETTES -->
    <div class="signpost"><h1>Bookings</h1></div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Bookings</h2>
            <p class="lead"></p>

         <p> Bookings results for PANr {{ g.user['username'] }}, {{ passpers['vorname'] }} {{ passpers['nachname'] }}, born on {{ passpers['gebdatum'] }},
             with passenger ID {{ passpers['passagiernr'] }}. </p>

        <table class="table table-responsive table-striped table-hover">
            <h2 class="featurette-heading"> Future Bookings </h2>
			<thead>
				<tr>
                    <th>Booking Number</th>
                    <th>Date</th>
                    <th>Class</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Port of Departure</th>
                    <th>Destination Port</th>
				</tr>
			</thead>
			<tbody>
            {% for entry in bookinglist_future %}
                <!-- dict keys in examlist as defined in the SQL statement in exams.py-->
	        	<tr><td>{{ entry['Buchungsnummer'] }}</td><td>{{ entry['Datum'] }}</td><td>{{ entry['Klasse'] }}</td><td>{{ entry['Abfahrtszeit'] }}</td><td>{{ entry['Ankunftszeit'] }}</td><td>{{ entry['Abfahrtshafen'] }}</td><td>{{ entry['Zielhafen'] }}</td></tr>
             {% endfor %}
			</tbody>
		</table>

        <table class="table table-responsive table-striped table-hover">
            <h2 class="featurette-heading"> Past Bookings </h2>
			<thead>
				<tr>
                    <th>Booking Number</th>
                    <th>Date</th>
                    <th>Class</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Port of Departure</th>
                    <th>Destination Port</th>
				</tr>
			</thead>
			<tbody>
            {% for entry in bookinglist_past %}
                <!-- dict keys in examlist as defined in the SQL statement in exams.py-->
	        	<tr><td>{{ entry['Buchungsnummer'] }}</td><td>{{ entry['Datum'] }}</td><td>{{ entry['Klasse'] }}</td><td>{{ entry['Abfahrtszeit'] }}</td><td>{{ entry['Ankunftszeit'] }}</td><td>{{ entry['Abfahrtshafen'] }}</td><td>{{ entry['Zielhafen'] }}</td></tr>
             {% endfor %}
			</tbody>
		</table>
        </div>
        <div class="col-md-5">
            <img class="img-fluid img-thumbnail"src="{{ url_for('static', filename='pics/booking.jpeg') }}"/>
        </div>
    </div>

    <!--<hr class="featurette-divider">-->

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

{% endblock %}