<!doctype html>
<html lang="en">
<head>
    <!-- <base href="https://to.do" /> -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="fh donaudampfschifffahrten">
    <meta name="author" content="">
    <title>FH Donaudampfschifffahrten</title>

    <link rel="canonical" href="https://www.to.do">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='dist/css/uu.css') }}" rel="stylesheet">

</head>

<body>

<!-- HEADER-TAG -->
<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FH D.D.F.</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

<!-- show the menu only in case of logged in user -->
{% if g.user %}
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Bookings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/bookings">show bookings</a>
                <a class="dropdown-item" href="/bookings">new booking</a>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/employee">show employee resumes</a>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
          </li>

          </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>

        </ul>
      </div>
{% else %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
            </ul>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Register
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  href="{{ url_for('auth.register') }}">Register</a>
            </ul>
          </li>
        </ul>
      </div>
{% endif %}

    </div>
  </nav>
</header>
<!--end HEADER -->


<main>
<!-- Usage History
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
     {% endfor %}
-->
    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
     <hr class="featurette-divider">
    <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2025 FH Donaudampfschifffahrten </p>
</footer>

</main>

<script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
